body{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: row;
}
#map{ 
    display: inline-block;
    position: inherit;
    height: 100vh;
    width: 70vw;
}
#group-buttons{
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
}
#points-container{
    overflow-y: scroll;
    height: 60%;
    list-style: none;
    padding: .4rem;
}
.point-list-item{
    display: flex;
}
.point-list-item .fly-button {
    height: 10px;
}
.group-flag {
    width: 20px;
    height: 20px;
}
.editor-button{
    background: none;
    border: none;
}
button{
    cursor: pointer;
}
menu{
    display: inline-block;
    height: 100vh;
    width: 30vw;
    margin: 0;
    padding-left: .6rem;
}